# ==============================
# C / C++
# ==============================

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Executables / binaries
*.exe
*.out
*.app
*.elf
*.hex
*.bin

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb


# ==============================
# STM32 / Embedded
# ==============================

Debug/
Release/
build/
.settings/
*.launch


# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env


# ==============================
# AI / Machine Learning
# ==============================

# Model files
*.pkl
*.joblib
*.h5
*.hdf5
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/


# ==============================
# Dataset
# ==============================

# Don't upload raw/processed datasets
dataset/raw/*
dataset/processed/*


# ==============================
# VS Code
# ==============================

.vscode/


# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db